/* main body utility classes */
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(https://pbs.twimg.com/media/CBH_Bm2UwAAqQaR.png);
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px black;
}
main{
  flex-grow: 1;
}

/* picture utility classes */
.picture-minion{
  height: 300px;
  width: auto;
}
.picture-medium{
  height: 400px;
  width: auto;
}
.picture-small{
  height: 100px;
  width: 100px;
}
.picture-logo{
  height: 75px;
  width: 75px;
}
.picture-move{
  padding-top: 75px;
}

/* scoreboard and items */
.scoreboard{
  border: 5px solid black;
  background-color: rgb(82, 82, 82);
  color: rgb(243, 207, 0);
}
.item-box{
  border: 5px solid black;
  background-color: rgb(82, 82, 82);
  color: white;
}
/* borders */
.splitter{
  border-bottom: 5px solid black;
}
.border-thin{
  border: 2px solid black;
  border-radius: 2px;
}



@media only screen and (max-width: 850px){

  .mobile-background{
    background-image: url(https://wallpaperaccess.com/full/1155050.jpg);
    background-position: center;
    background-size: cover;
  }

  .mobile-hide{
    display: none;
  }

  .mobile-pad{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .mobile-margin{
    margin-top: 10px;
    margin-bottom: 10px;
  }

}